In [35]:
from pyspark.sql import SparkSession
import pyspark

spark = SparkSession.builder.getOrCreate()

In [36]:
df = spark.read.format("csv").option("header", "true").load('Berlin_housing_data.csv')
df

DataFrame[ID: string, Price: string, Housing Type: string, Size: string, Note: string, Provider Type: string, Address: string, Rent Price Info: string, Listing Date: string]

In [37]:
from pyspark.sql.functions import regexp_replace

df = df.withColumn('Address', regexp_replace('Address', 'ß', 'ss'))
df = df.withColumn('Address', regexp_replace('Address', 'ö', 'oe'))
df = df.withColumn('Address', regexp_replace('Address', 'ü', 'ue'))
df = df.withColumn('Address', regexp_replace('Address', 'ä', 'ae'))
df.select('Address').show(n = 20)

+--------------------+
|             Address|
+--------------------+
|Sankt Wolfgang-St...|
|Sankt Wolfgang-St...|
| Alfred-Jung-Strasse|
|         Rhinstrasse|
|        Ebertstrasse|
| Alfred-Jung-Strasse|
|     Rathenaustrasse|
|Osnabruecker Strasse|
|   Monumentenstrasse|
|     Turiner Strasse|
|     Turiner Strasse|
|     Turiner Strasse|
|     Turiner Strasse|
|Reinickendorfer S...|
|Nazarethkirchstrasse|
|    Schlueterstrasse|
|   Zechliner Strasse|
|Nazarethkirchstrasse|
|     Kottbusser Damm|
|Kaiser-Friedrich-...|
+--------------------+
only showing top 20 rows

In [38]:
from pyspark.sql.functions import trim

df = df.withColumn('Housing Type', trim(df['Housing Type']))
df.select('Housing Type').distinct().collect()

[Row(Housing Type='Studio'),
 Row(Housing Type='Mehrbettzimmer'),
 Row(Housing Type='Haus'),
 Row(Housing Type='Wohnung'),
 Row(Housing Type='WG-Zimmer')]

In [39]:
df.select('Note').distinct().collect()

[Row(Note='7  Mitbewohner(innen)'),
 Row(Note='8  Mitbewohner(innen)'),
 Row(Note='1 Mitbewohner(in)'),
 Row(Note='12  Mitbewohner(innen)'),
 Row(Note='3 Schlafzimmer'),
 Row(Note='4 Schlafzimmer'),
 Row(Note='11  Mitbewohner(innen)'),
 Row(Note='Max. 6 Personen'),
 Row(Note='2  Mitbewohner(innen)'),
 Row(Note='5 Schlafzimmer'),
 Row(Note='9  Mitbewohner(innen)'),
 Row(Note='Max. 3 Personen'),
 Row(Note='Max. 2 Personen'),
 Row(Note='4  Mitbewohner(innen)'),
 Row(Note='3  Mitbewohner(innen)'),
 Row(Note='Max. 1 Person'),
 Row(Note='6  Mitbewohner(innen)'),
 Row(Note='5  Mitbewohner(innen)'),
 Row(Note='2 Schlafzimmer'),
 Row(Note='10  Mitbewohner(innen)'),
 Row(Note='1 Schlafzimmer'),
 Row(Note=None)]

In [40]:
df.select('Provider Type').distinct().collect()

[Row(Provider Type='Studentenwohnungen'),
 Row(Provider Type='Co-living'),
 Row(Provider Type='Privater Vermieter'),
 Row(Provider Type='Vermietungsunternehmen')]

In [41]:
df.select('Address').distinct().collect()

[Row(Address='Boxhagener Strasse'),
 Row(Address='Donaustrasse'),
 Row(Address='Lehrter Strasse'),
 Row(Address='Ebertstrasse'),
 Row(Address='Martin-Luther-Strasse'),
 Row(Address='Scharnweberstrasse'),
 Row(Address='Leibnizstrasse'),
 Row(Address='Residenzstrasse'),
 Row(Address='Paul-Heyse-Strasse'),
 Row(Address='Karlsruher Strasse'),
 Row(Address='Wichertstrasse'),
 Row(Address='Voltairestrasse'),
 Row(Address='Otto-Franke-Strasse'),
 Row(Address='Mierendorffstrasse'),
 Row(Address='Germanenstrasse'),
 Row(Address='Alfred-Jung-Strasse'),
 Row(Address='Bismarckstrasse'),
 Row(Address='Grossbeerenstrasse'),
 Row(Address='Corinthstrasse'),
 Row(Address='Hechelstrasse'),
 Row(Address='Finowstrasse'),
 Row(Address='Hermannstrasse'),
 Row(Address='Mommsenstrasse'),
 Row(Address='Hagelberger Strasse'),
 Row(Address='Turmstrasse'),
 Row(Address='Luebecker Strasse'),
 Row(Address='Simon-Dach-Strasse'),
 Row(Address='Pappelallee'),
 Row(Address='Brueckenstrasse'),
 Row(Address='Klopstockstrasse'),
 Row(Address='Huttenstrasse'),
 Row(Address='Mahlower Strasse'),
 Row(Address='Koepenicker Strasse'),
 Row(Address='Ostender Strasse'),
 Row(Address='Turiner Strasse'),
 Row(Address='Kienitzer Strasse'),
 Row(Address='Immenweg'),
 Row(Address='Muellerstrasse'),
 Row(Address='Revaler Strasse'),
 Row(Address='Obentrautstrasse'),
 Row(Address='Lueckstrasse'),
 Row(Address='Hufelandstrasse'),
 Row(Address='Heylstrasse'),
 Row(Address='Ebertystrasse'),
 Row(Address='Kufsteiner Strasse'),
 Row(Address='Kurfuerstenstrasse'),
 Row(Address='Emdenzeile'),
 Row(Address='Zechliner Strasse'),
 Row(Address='Bruesseler Strasse'),
 Row(Address='Boyenstrasse'),
 Row(Address='Friedrichsbrunner Strasse'),
 Row(Address='Swinemuender Strasse'),
 Row(Address='Oderberger Strasse'),
 Row(Address='Romy-Schneider-Strasse'),
 Row(Address='Muskauer Strasse'),
 Row(Address='Neuenburger Strasse'),
 Row(Address='Brunnenstrasse'),
 Row(Address='Seddinpromenade'),
 Row(Address='Sredzkistrasse'),
 Row(Address='Leopoldstrasse'),
 Row(Address='Mittenwalder Strasse'),
 Row(Address='Liebenwalder Strasse'),
 Row(Address='Am Flughafen'),
 Row(Address='Kleine Alexanderstrasse'),
 Row(Address='Ostendstrasse'),
 Row(Address='Alt-Moabit'),
 Row(Address='Landsberger Allee'),
 Row(Address='Ingrid-Reschke-Strasse'),
 Row(Address='Hohenzollerndamm'),
 Row(Address='Hertzstrasse'),
 Row(Address='Richardstrasse'),
 Row(Address='Greifswalder Strasse'),
 Row(Address='Pufendorfstrasse'),
 Row(Address='Frankfurter Allee'),
 Row(Address='Sulzbergweg'),
 Row(Address='Kaiserdamm'),
 Row(Address='Gotenstrasse'),
 Row(Address='Zimmerstrasse'),
 Row(Address='Jasmunder Strasse'),
 Row(Address='Clayallee'),
 Row(Address='Behrenstrasse'),
 Row(Address='Memhardstrasse'),
 Row(Address='Gieselerstrasse'),
 Row(Address='Eisenbahnstrasse'),
 Row(Address='Schroederstrasse'),
 Row(Address='Rathenaustrasse'),
 Row(Address='Stargarder Strasse'),
 Row(Address='Georg-Klingenberg-Strasse'),
 Row(Address='Grimmstrasse'),
 Row(Address='Boeckhstrasse'),
 Row(Address='Beusselstrasse'),
 Row(Address='Wattstrasse'),
 Row(Address='Homburger Strasse'),
 Row(Address='Koernerstrasse'),
 Row(Address='Kaiser-Friedrich-Strasse'),
 Row(Address='Schraeger Weg'),
 Row(Address='Nazarethkirchstrasse'),
 Row(Address='Damerowstrasse'),
 Row(Address='Greifenhagener Strasse'),
 Row(Address='Schlueterstrasse'),
 Row(Address='Weichselstrasse'),
 Row(Address='Chaukenstrasse'),
 Row(Address='Mohrenstrasse'),
 Row(Address='Wuehlischstrasse'),
 Row(Address='Storkower Strasse'),
 Row(Address='Oeynhauser Strasse'),
 Row(Address='Schwedter Strasse'),
 Row(Address='Helene-Jacobs-Strasse'),
 Row(Address='Pariser Strasse'),
 Row(Address='Courbièrestrasse'),
 Row(Address='Plauener Strasse'),
 Row(Address='Nordkapstrasse'),
 Row(Address='Ravenéstrasse'),
 Row(Address='Hubertusallee'),
 Row(Address='Berliner Strasse'),
 Row(Address='Bornholmer Strasse'),
 Row(Address='Muehlenstrasse'),
 Row(Address='Perleberger Strasse'),
 Row(Address='Friedrich-Karl-Strasse'),
 Row(Address='Simmelstrasse'),
 Row(Address='Gartenstrasse'),
 Row(Address='Paul-Lincke-Ufer'),
 Row(Address='Friedrich-Wilhelm-Strasse'),
 Row(Address='Modersohnstrasse'),
 Row(Address='Wisbyer Strasse'),
 Row(Address='Otto-Braun-Strasse'),
 Row(Address='Gubener Strasse'),
 Row(Address='Brandenburgische Strasse'),
 Row(Address='Rigaer Strasse'),
 Row(Address='Rhinstrasse'),
 Row(Address='Jansastrasse'),
 Row(Address='Hochstrasse'),
 Row(Address='Rueckertstrasse'),
 Row(Address='Eldenaer Strasse'),
 Row(Address='Boedikerstrasse'),
 Row(Address='Alte Jakobstrasse'),
 Row(Address='Goebenstrasse'),
 Row(Address='Kanalstrasse'),
 Row(Address='Stresemannstrasse'),
 Row(Address='Forststrasse'),
 Row(Address='Gabriel-Max-Strasse'),
 Row(Address='Libauer Strasse'),
 Row(Address='Holzmarktstrasse'),
 Row(Address='Warthestrasse'),
 Row(Address='Eberswalder Strasse'),
 Row(Address='Mehringplatz'),
 Row(Address='Monumentenstrasse'),
 Row(Address='Fischerstrasse'),
 Row(Address='Amsterdamer Strasse'),
 Row(Address='Erich-Weinert-Strasse'),
 Row(Address='Weimarische Strasse'),
 Row(Address='Muenzstrasse'),
 Row(Address='Kleine Lindenstrasse'),
 Row(Address='Danziger Strasse'),
 Row(Address='Osnabruecker Strasse'),
 Row(Address='Winterthurstrasse'),
 Row(Address='Elsenstrasse'),
 Row(Address='Bernauer Strasse'),
 Row(Address='Markgrafendamm'),
 Row(Address='Gormannstrasse'),
 Row(Address='Flughafenstrasse'),
 Row(Address='Nuernberger Strasse'),
 Row(Address='Graefestrasse'),
 Row(Address='Gleimstrasse'),
 Row(Address='Mariendorfer Damm'),
 Row(Address='Katzbachstrasse'),
 Row(Address='Spanheimstrasse'),
 Row(Address='Kolonnenstrasse'),
 Row(Address='Badensche Strasse'),
 Row(Address='Zur Gartenstadt'),
 Row(Address='Burgemeisterstrasse'),
 Row(Address='Okerstrasse'),
 Row(Address='Alfredstrasse'),
 Row(Address='Schillerstrasse'),
 Row(Address='Wielandstrasse'),
 Row(Address='Fehmarner Strasse'),
 Row(Address='Dusekestrasse'),
 Row(Address='Charlottenstrasse'),
 Row(Address='Lenaustrasse'),
 Row(Address='Parksiedlung Spruch'),
 Row(Address='Scharnhorststrasse'),
 Row(Address='Baumschulenstrasse'),
 Row(Address='Hallerstrasse'),
 Row(Address='Hoeppnerstrasse'),
 Row(Address='Agnes-Wabnitz-Strasse'),
 Row(Address='Alsenstrasse'),
 Row(Address='Proskauer Strasse'),
 Row(Address='Inselstrasse'),
 Row(Address='Ratiborstrasse'),
 Row(Address='Hertzbergstrasse'),
 Row(Address='Torellstrasse'),
 Row(Address='Baenschstrasse'),
 Row(Address='Krausnickstrasse'),
 Row(Address='Ruebelandstrasse'),
 Row(Address='Kuno-Fischer-Strasse'),
 Row(Address='Seestrasse'),
 Row(Address='Lucy-Lameck-Strasse'),
 Row(Address='Chausseestrasse'),
 Row(Address='Simplonstrasse'),
 Row(Address='Neue Hochstrasse'),
 Row(Address='Prenzlauer Allee'),
 Row(Address='Veteranenstrasse'),
 Row(Address='Uhlandstrasse'),
 Row(Address='Warschauer Strasse'),
 Row(Address='Tollerstrasse'),
 Row(Address='Schoenhauser Allee'),
 Row(Address='Crailsheimer Strasse'),
 Row(Address='Treuchtlinger Strasse'),
 Row(Address='Bayernallee'),
 Row(Address='Fortunaallee'),
 Row(Address='Otto-Weidt-Platz'),
 Row(Address='Hoechste Strasse'),
 Row(Address='Kamminer Strasse'),
 Row(Address='Paul-Robeson-Strasse'),
 Row(Address='Karl-Kunger-Strasse'),
 Row(Address='Lychener Strasse'),
 Row(Address='Thaerstrasse'),
 Row(Address='Nestorstrasse'),
 Row(Address='Faerberstrasse'),
 Row(Address='Fischerinsel'),
 Row(Address='Alt-Stralau'),
 Row(Address='Spilstrasse'),
 Row(Address='Herrenhausstrasse'),
 Row(Address='Heerstrasse'),
 Row(Address='Graf-Haeseler-Strasse'),
 Row(Address='Gustav-Mueller-Strasse'),
 Row(Address='Zaehringerstrasse'),
 Row(Address='Rathausstrasse'),
 Row(Address='Gruenberger Strasse'),
 Row(Address='Torstrasse'),
 Row(Address='Alarichstrasse'),
 Row(Address='Strassmannstrasse'),
 Row(Address='Guineastrasse'),
 Row(Address='Pankstrasse'),
 Row(Address='Sickingenstrasse'),
 Row(Address='Siemensstrasse'),
 Row(Address='Heidenfeldstrasse'),
 Row(Address='Westfaelische Strasse'),
 Row(Address='Weserstrasse'),
 Row(Address='Soldiner Strasse'),
 Row(Address='Gipsstrasse'),
 Row(Address='Treseburger Ufer'),
 Row(Address='Am Koellnischen Park'),
 Row(Address='Togostrasse'),
 Row(Address='Schivelbeiner Strasse'),
 Row(Address='Foelderichstrasse'),
 Row(Address='Legiendamm'),
 Row(Address='Luetzowstrasse'),
 Row(Address='Lietzenburger Strasse'),
 Row(Address='Albrecht-Achilles-Strasse'),
 Row(Address='Johann-Georg-Strasse'),
 Row(Address='Strelitzer Strasse'),
 Row(Address='Muellenhoffstrasse'),
 Row(Address='Kulmbacher Strasse'),
 Row(Address='Edwin-C.-Diltz-Strasse'),
 Row(Address='Schwartzkopffstrasse'),
 Row(Address='Lenbachstrasse'),
 Row(Address='Charlottenbrunner Strasse'),
 Row(Address='Borsigstrasse'),
 Row(Address='Romain-Rolland-Strasse'),
 Row(Address='Weisestrasse'),
 Row(Address='Leinestrasse'),
 Row(Address='Kurfuerstendamm'),
 Row(Address='Biebricher Strasse'),
 Row(Address='Kiefholzstrasse'),
 Row(Address='Erich-Thilo-Strasse'),
 Row(Address='Wrangelstrasse'),
 Row(Address='Glockenturmstrasse'),
 Row(Address='Pintschstrasse'),
 Row(Address='Kottbusser Damm'),
 Row(Address='Wollankstrasse'),
 Row(Address='Schirmpilzstrasse'),
 Row(Address='Kantstrasse'),
 Row(Address='Bamberger Strasse'),
 Row(Address='Wilhelminenhofstrasse'),
 Row(Address='Barfusstrasse'),
 Row(Address='Friedrich-Junge-Strasse'),
 Row(Address='Bergstrasse'),
 Row(Address='Friedlander Strasse'),
 Row(Address='Wehneltsteig'),
 Row(Address='Winsstrasse'),
 Row(Address='Blankenfelder Strasse'),
 Row(Address='Motzstrasse'),
 Row(Address='Hektorstrasse'),
 Row(Address='Burgsdorfstrasse'),
 Row(Address='Max-Beer-Strasse'),
 Row(Address='Sankt Wolfgang-Strasse'),
 Row(Address='Braunschweiger Strasse'),
 Row(Address='An der Wuhlheide'),
 Row(Address='Goethestrasse'),
 Row(Address='Vorbergstrasse'),
 Row(Address='Reinickendorfer Strasse'),
 Row(Address='Stralauer Allee'),
 Row(Address='Schnellerstrasse'),
 Row(Address='Braunlager Strasse'),
 Row(Address='Emser Strasse'),
 Row(Address='Yorckstrasse'),
 Row(Address='Metzer Strasse'),
 Row(Address='Mariannenplatz'),
 Row(Address='Glienicker Strasse'),
 Row(Address='Bluecherstrasse'),
 Row(Address='Rognitzstrasse'),
 Row(Address='Glasgower Strasse'),
 Row(Address='Linienstrasse'),
 Row(Address='Pfalzburger Strasse'),
 Row(Address='Cunostrasse'),
 Row(Address='Winterstrasse'),
 Row(Address='Hasenheide'),
 Row(Address='Handjerystrasse'),
 Row(Address='Stuttgarter Strasse'),
 Row(Address='Prenzlauer Promenade'),
 Row(Address='Brusebergstrasse'),
 Row(Address='Schreinerstrasse'),
 Row(Address='Korsoerer Strasse'),
 Row(Address='Dominicusstrasse'),
 Row(Address='Gaertnerstrasse'),
 Row(Address='Kaskelstrasse'),
 Row(Address='Einbecker Strasse'),
 Row(Address='Boddinstrasse'),
 Row(Address='Klara-Franke-Strasse'),
 Row(Address='Lausitzer Platz'),
 Row(Address='Skalitzer Strasse'),
 Row(Address='Zehdenicker Strasse'),
 Row(Address='Immanuelkirchstrasse'),
 Row(Address='Cheruskerstrasse'),
 Row(Address='Goltzstrasse'),
 Row(Address='Wilsnacker Strasse'),
 Row(Address='Am Dorfanger'),
 Row(Address='Dietzgenstrasse'),
 Row(Address='Konstanzer Strasse'),
 Row(Address='Bredowstrasse'),
 Row(Address='Storkwinkel'),
 Row(Address='Willi-Saenger-Strasse'),
 Row(Address='Leipziger Strasse'),
 Row(Address='Pfluegerstrasse'),
 Row(Address='Albrechtstrasse'),
 Row(Address='Choriner Strasse'),
 Row(Address='Wildenbruchstrasse'),
 Row(Address='Buchholzer Strasse'),
 Row(Address='Delbrueckstrasse'),
 Row(Address='Sonntagstrasse'),
 Row(Address='Knaackstrasse'),
 Row(Address='Winterfeldtstrasse'),
 Row(Address='Dunckerstrasse'),
 Row(Address='Paul-Zobel-Strasse'),
 Row(Address='Koloniestrasse'),
 Row(Address='Lauterberger Strasse'),
 Row(Address='Anklamer Strasse'),
 Row(Address='Peschkestrasse'),
 Row(Address='Heidekampweg'),
 Row(Address='Hildegard-Jadamowitz-Strasse'),
 Row(Address='Friedrichstrasse'),
 Row(Address='Eislebener Strasse'),
 Row(Address='Weinbergsweg'),
 Row(Address='Petersburger Strasse'),
 Row(Address='Urbanstrasse'),
 Row(Address='Wallstrasse'),
 Row(Address='Oppelner Strasse'),
 Row(Address='Buschkrugallee'),
 Row(Address='Leuschnerdamm'),
 Row(Address='Zehntwerderweg'),
 Row(Address='Mulackstrasse'),
 Row(Address='Keithstrasse'),
 Row(Address='Eugen-Schoenhaar-Strasse'),
 Row(Address='Gutzkowstrasse')]

In [42]:
df.select('Rent Price Info').distinct().collect()

[Row(Rent Price Info='(einige Nebenkosten inklusive)'),
 Row(Rent Price Info='(Nebenkosten exklusive)'),
 Row(Rent Price Info='(Nebenkosten inklusive)')]

In [43]:
df.select('Listing Date').distinct().collect()

[Row(Listing Date='4. Juni'),
 Row(Listing Date='23. Aug.'),
 Row(Listing Date='9. Juli'),
 Row(Listing Date='16. Nov.'),
 Row(Listing Date='30. Okt.'),
 Row(Listing Date='29. Juli'),
 Row(Listing Date='8. Juli'),
 Row(Listing Date='20. Juni'),
 Row(Listing Date='28. Nov.'),
 Row(Listing Date='30. Sept.'),
 Row(Listing Date='16. Juni'),
 Row(Listing Date='3. Dez.'),
 Row(Listing Date='15. Juni'),
 Row(Listing Date='9. Juni'),
 Row(Listing Date='12. Juni'),
 Row(Listing Date='21. Juli'),
 Row(Listing Date='3. Juli'),
 Row(Listing Date='4. Juli'),
 Row(Listing Date='16. Juli'),
 Row(Listing Date='19. Juni'),
 Row(Listing Date='24. Juli'),
 Row(Listing Date='16. Aug.'),
 Row(Listing Date='1. Okt.'),
 Row(Listing Date='31. Aug.'),
 Row(Listing Date='10. Okt.'),
 Row(Listing Date='14. Juni'),
 Row(Listing Date='21. Sept.'),
 Row(Listing Date='22. Aug.'),
 Row(Listing Date='3. Aug.'),
 Row(Listing Date='5. Sept.'),
 Row(Listing Date='2. Aug.'),
 Row(Listing Date='16. Sept.'),
 Row(Listing Date='14. Nov.'),
 Row(Listing Date='11. Juli'),
 Row(Listing Date='15. Aug.'),
 Row(Listing Date='8. Okt.'),
 Row(Listing Date='3. Okt.'),
 Row(Listing Date='6. Aug.'),
 Row(Listing Date='30. Juli'),
 Row(Listing Date='22. Juli'),
 Row(Listing Date='5. Juni'),
 Row(Listing Date='2. Sept.'),
 Row(Listing Date='12. Okt.'),
 Row(Listing Date='18. Aug.'),
 Row(Listing Date='11. Okt.'),
 Row(Listing Date='17. Juni'),
 Row(Listing Date='17. Aug.'),
 Row(Listing Date='12. Aug.'),
 Row(Listing Date='14. Aug.'),
 Row(Listing Date='30. Nov.'),
 Row(Listing Date='11. Aug.'),
 Row(Listing Date='5. Juli'),
 Row(Listing Date='10. Juni'),
 Row(Listing Date='14. Sept.'),
 Row(Listing Date='7. Aug.'),
 Row(Listing Date='30. Aug.'),
 Row(Listing Date='5. Aug.'),
 Row(Listing Date='31. Okt.'),
 Row(Listing Date='3. Juni'),
 Row(Listing Date='29. Juni'),
 Row(Listing Date='7. Okt.'),
 Row(Listing Date='3. Nov.'),
 Row(Listing Date='24. Okt.'),
 Row(Listing Date='4. Nov.'),
 Row(Listing Date='19. Juli'),
 Row(Listing Date='25. Juli'),
 Row(Listing Date='19. Nov.'),
 Row(Listing Date='18. Nov.'),
 Row(Listing Date='6. Juni'),
 Row(Listing Date='6. Sept.'),
 Row(Listing Date='1. Dez.'),
 Row(Listing Date='15. Juli'),
 Row(Listing Date='1. Juli'),
 Row(Listing Date='26. Aug.'),
 Row(Listing Date='1. Nov.'),
 Row(Listing Date='4. Aug.'),
 Row(Listing Date='4. Sept.'),
 Row(Listing Date='17. Juli'),
 Row(Listing Date='8. Aug.'),
 Row(Listing Date='5. Nov.'),
 Row(Listing Date='18. Okt.'),
 Row(Listing Date='7. Juni'),
 Row(Listing Date='1. Aug.'),
 Row(Listing Date='31. Juli'),
 Row(Listing Date='6. Okt.'),
 Row(Listing Date='11. Nov.'),
 Row(Listing Date='9. Sept.'),
 Row(Listing Date='15. Okt.'),
 Row(Listing Date='15. Sept.'),
 Row(Listing Date='27. Aug.'),
 Row(Listing Date='19. Aug.'),
 Row(Listing Date='1. Sept.'),
 Row(Listing Date='4. Okt.'),
 Row(Listing Date='3. Sept.'),
 Row(Listing Date='12. Juli'),
 Row(Listing Date='8. Sept.'),
 Row(Listing Date='30. Juni'),
 Row(Listing Date='10. Aug.')]

In [44]:
from pyspark.sql.functions import split
from pyspark.sql.functions import substring, length, expr, lit
from datetime import datetime

current_year = datetime.now().year

split_col = split(df['Listing Date'], ' ')
df = df.withColumn('Listing Day', regexp_replace(split_col[0], '\.', ''))
df = df.withColumn('Listing Month', split_col[1])
df = df.withColumn('Listing Year', lit(current_year))
df.select('Listing Day', 'Listing Month', 'Listing Year').show(n=20)

+-----------+-------------+------------+
|Listing Day|Listing Month|Listing Year|
+-----------+-------------+------------+
|          3|         Juni|        2024|
|          5|         Juni|        2024|
|          3|         Juni|        2024|
|          3|         Juni|        2024|
|          4|         Juni|        2024|
|         16|         Juni|        2024|
|          1|        Sept.|        2024|
|          3|         Juni|        2024|
|          3|         Juni|        2024|
|          3|         Juni|        2024|
|          3|         Juni|        2024|
|          3|         Juni|        2024|
|          3|         Juni|        2024|
|          3|         Juni|        2024|
|          3|         Juni|        2024|
|          5|         Juni|        2024|
|          1|         Aug.|        2024|
|          1|         Aug.|        2024|
|          1|         Aug.|        2024|
|          5|         Juli|        2024|
+-----------+-------------+------------+
only showing top 20 rows

In [45]:
df.select('Listing Month').distinct().collect()

[Row(Listing Month='Juli'),
 Row(Listing Month='Nov.'),
 Row(Listing Month='Aug.'),
 Row(Listing Month='Sept.'),
 Row(Listing Month='Dez.'),
 Row(Listing Month='Okt.'),
 Row(Listing Month='Juni')]

In [46]:
df = df.withColumn('Listing Month', regexp_replace('Listing Month', 'Jan.', '1'))
df = df.withColumn('Listing Month', regexp_replace('Listing Month', 'Feb.', '2'))
df = df.withColumn('Listing Month', regexp_replace('Listing Month', 'Marz', '3'))
df = df.withColumn('Listing Month', regexp_replace('Listing Month', 'Apr.', '4'))
df = df.withColumn('Listing Month', regexp_replace('Listing Month', 'Mai', '5'))
df = df.withColumn('Listing Month', regexp_replace('Listing Month', 'Juni', '6'))
df = df.withColumn('Listing Month', regexp_replace('Listing Month', 'Juli', '7'))
df = df.withColumn('Listing Month', regexp_replace('Listing Month', 'Aug.', '8'))
df = df.withColumn('Listing Month', regexp_replace('Listing Month', 'Sept.', '9'))
df = df.withColumn('Listing Month', regexp_replace('Listing Month', 'Okt.', '10'))
df = df.withColumn('Listing Month', regexp_replace('Listing Month', 'Nov.', '11'))
df = df.withColumn('Listing Month', regexp_replace('Listing Month', 'Dez.', '12'))

df.select('Listing Month').distinct().collect()

[Row(Listing Month='7'),
 Row(Listing Month='11'),
 Row(Listing Month='8'),
 Row(Listing Month='6'),
 Row(Listing Month='9'),
 Row(Listing Month='10'),
 Row(Listing Month='12')]

In [47]:
from pyspark.sql.functions import *

df = df.withColumn("Date",concat_ws("-",col("Listing Year"),col("Listing Month"),col("Listing Day")).cast("date"))
df.select('Date').distinct().collect()

[Row(Date=datetime.date(2024, 6, 4)),
 Row(Date=datetime.date(2024, 6, 12)),
 Row(Date=datetime.date(2024, 8, 27)),
 Row(Date=datetime.date(2024, 10, 24)),
 Row(Date=datetime.date(2024, 8, 30)),
 Row(Date=datetime.date(2024, 7, 8)),
 Row(Date=datetime.date(2024, 8, 5)),
 Row(Date=datetime.date(2024, 12, 1)),
 Row(Date=datetime.date(2024, 8, 12)),
 Row(Date=datetime.date(2024, 9, 30)),
 Row(Date=datetime.date(2024, 7, 5)),
 Row(Date=datetime.date(2024, 8, 14)),
 Row(Date=datetime.date(2024, 7, 11)),
 Row(Date=datetime.date(2024, 8, 4)),
 Row(Date=datetime.date(2024, 8, 7)),
 Row(Date=datetime.date(2024, 7, 24)),
 Row(Date=datetime.date(2024, 8, 1)),
 Row(Date=datetime.date(2024, 7, 17)),
 Row(Date=datetime.date(2024, 7, 30)),
 Row(Date=datetime.date(2024, 6, 15)),
 Row(Date=datetime.date(2024, 11, 5)),
 Row(Date=datetime.date(2024, 9, 3)),
 Row(Date=datetime.date(2024, 7, 21)),
 Row(Date=datetime.date(2024, 11, 14)),
 Row(Date=datetime.date(2024, 7, 25)),
 Row(Date=datetime.date(2024, 10, 18)),
 Row(Date=datetime.date(2024, 6, 5)),
 Row(Date=datetime.date(2024, 8, 3)),
 Row(Date=datetime.date(2024, 8, 15)),
 Row(Date=datetime.date(2024, 10, 8)),
 Row(Date=datetime.date(2024, 10, 10)),
 Row(Date=datetime.date(2024, 9, 1)),
 Row(Date=datetime.date(2024, 12, 3)),
 Row(Date=datetime.date(2024, 8, 8)),
 Row(Date=datetime.date(2024, 9, 8)),
 Row(Date=datetime.date(2024, 10, 1)),
 Row(Date=datetime.date(2024, 9, 2)),
 Row(Date=datetime.date(2024, 8, 19)),
 Row(Date=datetime.date(2024, 11, 30)),
 Row(Date=datetime.date(2024, 9, 21)),
 Row(Date=datetime.date(2024, 8, 16)),
 Row(Date=datetime.date(2024, 6, 6)),
 Row(Date=datetime.date(2024, 9, 6)),
 Row(Date=datetime.date(2024, 11, 18)),
 Row(Date=datetime.date(2024, 8, 10)),
 Row(Date=datetime.date(2024, 7, 31)),
 Row(Date=datetime.date(2024, 10, 4)),
 Row(Date=datetime.date(2024, 11, 11)),
 Row(Date=datetime.date(2024, 8, 23)),
 Row(Date=datetime.date(2024, 10, 15)),
 Row(Date=datetime.date(2024, 6, 3)),
 Row(Date=datetime.date(2024, 9, 9)),
 Row(Date=datetime.date(2024, 6, 10)),
 Row(Date=datetime.date(2024, 8, 31)),
 Row(Date=datetime.date(2024, 9, 5)),
 Row(Date=datetime.date(2024, 7, 3)),
 Row(Date=datetime.date(2024, 7, 1)),
 Row(Date=datetime.date(2024, 10, 31)),
 Row(Date=datetime.date(2024, 7, 15)),
 Row(Date=datetime.date(2024, 8, 2)),
 Row(Date=datetime.date(2024, 10, 7)),
 Row(Date=datetime.date(2024, 11, 16)),
 Row(Date=datetime.date(2024, 6, 7)),
 Row(Date=datetime.date(2024, 11, 1)),
 Row(Date=datetime.date(2024, 10, 11)),
 Row(Date=datetime.date(2024, 6, 14)),
 Row(Date=datetime.date(2024, 7, 29)),
 Row(Date=datetime.date(2024, 6, 20)),
 Row(Date=datetime.date(2024, 9, 15)),
 Row(Date=datetime.date(2024, 7, 22)),
 Row(Date=datetime.date(2024, 7, 4)),
 Row(Date=datetime.date(2024, 10, 12)),
 Row(Date=datetime.date(2024, 11, 28)),
 Row(Date=datetime.date(2024, 11, 4)),
 Row(Date=datetime.date(2024, 7, 9)),
 Row(Date=datetime.date(2024, 10, 3)),
 Row(Date=datetime.date(2024, 8, 18)),
 Row(Date=datetime.date(2024, 7, 12)),
 Row(Date=datetime.date(2024, 8, 6)),
 Row(Date=datetime.date(2024, 7, 16)),
 Row(Date=datetime.date(2024, 10, 30)),
 Row(Date=datetime.date(2024, 11, 19)),
 Row(Date=datetime.date(2024, 7, 19)),
 Row(Date=datetime.date(2024, 9, 16)),
 Row(Date=datetime.date(2024, 11, 3)),
 Row(Date=datetime.date(2024, 10, 6)),
 Row(Date=datetime.date(2024, 6, 16)),
 Row(Date=datetime.date(2024, 6, 30)),
 Row(Date=datetime.date(2024, 8, 26)),
 Row(Date=datetime.date(2024, 8, 11)),
 Row(Date=datetime.date(2024, 6, 19)),
 Row(Date=datetime.date(2024, 6, 17)),
 Row(Date=datetime.date(2024, 8, 22)),
 Row(Date=datetime.date(2024, 9, 14)),
 Row(Date=datetime.date(2024, 8, 17)),
 Row(Date=datetime.date(2024, 6, 9)),
 Row(Date=datetime.date(2024, 9, 4)),
 Row(Date=datetime.date(2024, 6, 29))]